body, html {
    background-color: gray;
    height: 100%;
    color: white;
}

#call {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#remoteVideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#localVideo {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 0px;
    left: 0px;
    z-index: 100;
}